SESSIONS=eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIn0**,eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIn0**
ADDRESS=0.0.0.0:8080
APIKEY=123
IS_INCOGNITO=true
PROXY=http://127.0.0.1:2080
MAX_CHAT_HISTORY_LENGTH=10000
NO_ROLE_PREFIX=false
SEARCH_RESULT_COMPATIBLE=false
